name: Opam
on:
  - push
  - pull_request

# This will cancel previous runs when a branch or PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        ocaml-compiler: [4.13.1, 4.14.1, 5.3.0]

    steps:
      - name: Checkout project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: "recursive"

      - name: Setup node.js
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: "22"
          check-latest: true

      - name: Setup OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@c2e6bb92370612b89f302c3aaefa1da45ee2d702 # v3.2.15
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Install local dependencies
        run: |
          opam repo add ospencer https://github.com/ospencer/opam-repository.git
          opam install . --deps-only --with-test

      - name: Build project
        run: |
          opam exec -- dune build

      - name: Run tests
        run: |
          opam exec -- dune runtest --display=short
